.card {
  position: relative;
  width: 370px !important;
  height: 300px;
  border: 1px solid var(--border-color);
  background: var(--primary-black);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-left: 1px solid transparent;
  border-image: linear-gradient(
      to bottom,
      transparent,
      var(--accent-color-low),
      var(--accent-color),
      var(--accent-color-low),
      transparent
    )
    1;
}

.imageContainer {
  border-radius: 5px;
  width: fit-content;
  padding: 8px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--tertiary-title-text);
  text-align: center;
  font-weight: 600;
  padding: 30px 0;
}

.description {
  font-size: 15px;
  color: var(--grey-text);
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: 290px !important;
    height: 240px;
    padding: 15px;
  }
}
