.servicesSection {
  padding: 60px 0;
}

.wrapper {
  max-width: var(--primary-content-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 40px;
  margin: 0 auto;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .wrapper > div {
    margin: 0 auto;
  }
}
