.wrapper {
  padding: 50px 0;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  flex-wrap: wrap;
}

.faqColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-wrap: wrap;
}

.faqItem > * {
  pointer-events: none;
}

.faqItem {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
  min-width: 260px;
  transition: all 0.5s ease;
  max-height: 68px;
  display: flex;
  flex-direction: column;
}

.faqItem.open {
  max-height: 500px; /* enough space for answer */
  transition: all 1s ease;
}

.faqQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.4;
}

.faqIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--secondary-bg-light);
  /* background-color: var(--accent-color-low); */
  border: 1px solid var(--border-color);
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.faqItem.open .faqIcon {
  transform: rotate(270deg);
}

.faqItem.open {
  border-color: var(--accent-color);
}

.faqAnswer {
  margin-top: 20px;
  line-height: 1.3;
  color: gray;
}

.faqItem.open .faqAnswer {
  opacity: 1;
}

.extra {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  overflow: hidden;
  position: relative;
}

.extra > h1 {
  font-size: var(--tertiary-title-text);
  font-weight: 600;
}

.extra > p {
  color: gray;
  max-width: 400px;
  line-height: 1.4;
}
