.carouselWrapper {
  position: relative;
}

.container {
  display: flex;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--accent-color-low)
  );
  transition: border 0.3s ease;
  cursor: pointer;
}

.slide:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.slideContent {
  width: 300px;
  aspect-ratio: 9/16;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-self: center;
}

.clientsData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.testimonial {
  text-align: center;
  font-size: var(--tertiary-title-text);
  font-weight: 500;
  font-family: var(--font-montalban);
  line-height: 1.2;
  letter-spacing: -1.12px;
  width: 100%;
  max-width: 700px;
  margin: var(--margin-auto);
}

.client {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clientPhoto {
  border-radius: 50%;
  border: 1px solid var(--border-color);
  overflow: hidden;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.clientInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.clientName {
  font-size: var(--semi-large-text);
  line-height: 1.2;
  letter-spacing: -1.12px;
}

.clientRole {
  font-size: var(--small-text);
  color: var(--white-text);
  font-family: var(--font-syne);
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .nextButton,
  .prevButton {
    width: 50px;
    height: 50px;
    /* top: calc(95%); */
  }

  /* .nextButton {
    left: 60%;
  }

  .prevButton {
    left: 30%;
  } */
}
