.timelineSection {
  padding: 2rem 0;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.timelineItem {
  z-index: 4;
  gap: 1rem;
  display: flex;
  align-items: flex-start;
}

.timelineLeft,
.timelineRight {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.timelineCount {
  position: relative;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: var(--secondary-black);
  font-size: 1.2rem;
  border: 1px solid var(--accent-color-low);
  flex-shrink: 0;
  box-shadow: var(--box-shadow);
}

/* Timeline Progress Bar */
.timelineProgress {
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--light-gray);
  z-index: 3;
  left: calc(50% - 0.5px); /* Center accounting for width */
  top: 0;
  padding-top: 2px;
}

.timelineProgressBar {
  width: 100%;
  height: 100px;
  background: var(--accent-color);
  border-radius: 2px;
  box-shadow: 1px 1px 8px 0px var(--accent-color);
}

.timelineLeftWithText {
  align-self: center;
}

.timelineRightWithText {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textItem {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.textItem > h3 {
  background-color: var(--accent-color);
  width: fit-content;
  line-height: 1.5;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--secondary-black);
  font-size: var(--small-text);
  font-weight: 500;
  text-transform: uppercase;
}

.textItem > h4 {
  font-size: calc(var(--tertiary-title-text) - 4px);
  color: var(--white);
  font-weight: 600;
  line-height: 1.5;
  font-family: var(--font-montalban);
}

.textItem > p {
  color: var(--grey-text);
  line-height: 1.4;
  font-weight: 500;
}

.timelineAnimation {
  width: 80%;
  min-height: 250px;
  aspect-ratio: 1 / 1;
  position: relative;
}

.animationBar {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  background: linear-gradient(
    90deg,
    var(--accent-color-low),
    var(--accent-color)
  );
  width: fit-content;
  border: 1px solid white;
  border-radius: 999px;
  box-shadow: var(--box-shadow);
  min-width: fit-content;
  text-wrap: nowrap;
}

.animationBar_1 {
  left: 40%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(20deg);
}

.animationBar_2 {
  transform: translate(-50%, -50%) rotate(-20deg);
  left: 40%;
  top: 55%;
}

.animationBar_3 {
  transform: translate(-50%, -50%) rotate(-20deg);
  left: 60%;
  top: 45%;
}

.animationBar_4 {
  transform: translate(-50%, -50%) rotate(20deg);
  left: 60%;
  top: 55%;
}

.animationItemTwo {
  z-index: 4;
  display: flex;
  position: inherit;
  width: 100%;
  height: 100%;
}

.canvasImage {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.toolBarImage {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.prImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.aeImage {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 6;
  opacity: 0.9;
  filter: grayscale(1);
}

.canvasImage img,
.toolBarImage img,
.prImage img,
.aeImage img {
  object-fit: contain;
}

.animationItemThree {
  overflow: hidden;
}

.imageHolder {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  z-index: 5;
}

.imageHolder img {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.imageHolder img:first-child {
  transform: rotate(-15deg);
}

.iconHolder {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-50%, -50%);
  z-index: 4;
}

@media screen and (max-width: 1023px) {
  /* .timelineContainer {
    padding: 0 1rem;
  } */

  .timelineProgress {
    left: 25px;
  }

  .timelineItem {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .timelineRightWithText,
  .timelineLeftWithText {
    align-self: center;
    width: calc(100% -60px);
    min-width: none;
  }

  .timelineCount {
    width: 50px;
    height: 50px;
    font-size: 1rem;
    align-self: flex-start;
  }

  .timelineAnimation {
    width: 100%;
    min-height: 450px !important;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .timelineRightWithText,
  .timelineLeftWithText {
    align-self: flex-end;
    width: calc(100% - 80px);
    min-width: none;
    align-items: flex-start;
  }

  .timelineItem {
    align-items: center;
  }

  .timelineAnimation {
    min-height: 250px !important;
    aspect-ratio: 1 / 1;
    margin: 0 auto !important;
    justify-self: start;
  }
}
