.loadingWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.loading {
  position: relative;
  overflow: hidden;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.loadingText {
  font-size: clamp(24px, 5vw, 48px);
  font-family: var(--font-satoshi);
  font-weight: 700;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
}

.underline {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #b4d429);
}
