/* 1. RESET & FUNDAMENTALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  line-height: 1.2;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  z-index: 2;
}

html {
  /* 2. HIDE SCROLLBARS (Firefox & IE/Edge) */
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

/* 2. HIDE SCROLLBARS (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

body {
  background-color: var(--primary-black);
  color: var(--white-text);
  font-family: var(--font-satoshi);
  width: 100%;
  min-height: 100vh;
  /* Remove 'overflow: unset' if it causes issues, but usually fine with Lenis */
  overflow-x: hidden;
}
.hovering-iframe > #custom-cursor {
  opacity: 0 !important;
}

/* 3. LENIS RECOMMENDED STYLES */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* --- 4. FIX FOR IFRAME JITTER (CALENDLY) --- */
/* This disables mouse events on iframes ONLY while scrolling. 
   It prevents the iframe from "catching" the scroll and causing lag. */
/* .lenis.lenis-scrolling iframe {
  pointer-events: none;
} */

/* 5. UTILITIES */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.addAnimation {
  visibility: hidden;
  opacity: 0;
}

.lenis.lenis-smooth iframe {
  pointer-events: none !important;
}

svg {
  vertical-align: center;
}

button,
a {
  outline: none;
}

#overlay,
#overlayTop {
  position: relative;
}

#overlay::after,
#overlayTop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    var(--primary-black),
    #b1787800 26%,
    #d6909000 56%,
    #704d4d00 80%,
    var(--primary-black)
  );
  z-index: 5;
  pointer-events: none;
  user-select: none;
}

#overlayTop::after {
  background-image: linear-gradient(
    0deg,
    var(--primary-black),
    #b1787800 26%,
    #d6909000 56%,
    #704d4d00 80%,
    var(--primary-black)
  );
}
