* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  line-height: 1.2;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* optional: prevents long-press context menus */
  z-index: 2;
}

#smooth-content {
  will-change: transform;
}

#smooth-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent native overflow */
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
  overflow: -moz-scrollbars-none; /* Older Firefox */
}

/* Hide scrollbar in Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html {
  scrollbar-width: none; /* hides scrollbar */
}

/* Hide scrollbar in IE/Edge Legacy */
html {
  -ms-overflow-style: none;
}

/* Hide scrollbar for IE/Edge */
body {
  -ms-overflow-style: none;
}

/* Ensure scrolling still works */
html,
body {
  font-family: var(--font-satoshi);
  overflow: unset !important;
  height: 100%;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  background-color: var(--primary-black);
  color: var(--white-text);
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: var(--margin-auto);
  padding: 0 20px;
}

/* @media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
} */

.addAnimation {
  visibility: hidden;
  opacity: 0;
}

svg {
  vertical-align: center;
}

button,
a {
  outline: none;
}

#overlay,
#overlayTop {
  position: relative;
}

#overlay::after,
#overlayTop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    var(--primary-black),
    #b1787800 26%,
    #d6909000 56%,
    #704d4d00 80%,
    var(--primary-black)
  );
  z-index: 5;
  pointer-events: none;
  user-select: none;
}

#overlayTop::after {
  background-image: linear-gradient(
    0deg,
    var(--primary-black),
    #b1787800 26%,
    #d6909000 56%,
    #704d4d00 80%,
    var(--primary-black)
  );
}
