.glowingButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 100px;
  max-width: 200px;
  min-height: 37px;
  border-radius: 8px;
  border: 1px solid #ffffff0e;
  color: white;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  background-color: #1a1a1a;
  padding: 1px;
}

.label {
  font-size: var(--small-text);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}

.glowingCircle {
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  z-index: 1;
  pointer-events: none;
  background: radial-gradient(
    var(--grx) var(--gry) at var(--gx) var(--gy),
    rgb(112, 190, 250) 0%,
    rgba(171, 171, 171, 0) 100%
  );
}
