.rotateGroup {
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.iconThree {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}

.rotatingCircle {
  animation: rotate 8s linear infinite;
  transform-origin: center;
}

.rotatingCircleTwo {
  animation: rotate 6s linear infinite;
  transform-origin: center;
}

.rotatingCircleThree {
  animation: rotate 10s linear infinite;
  transform-origin: center;
}

.flowingLine {
  animation: flow 1s linear infinite;
}

@keyframes flow {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -50;
  }
}
