.card {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 280px;
  padding: 30px;
}

.image {
  z-index: 2;
  background-color: var(--primary-black);
  position: relative;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-left: 1px solid transparent;
  border-image: linear-gradient(
      to bottom,
      transparent,
      var(--accent-color-low),
      var(--accent-color),
      var(--accent-color-low),
      transparent
    )
    1;
}

.details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.details > h1 {
  font-size: var(--tertiary-title-text);
  font-weight: 600;
}
