.pricingPlan {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.highlighted {
  font-size: var(--semi-large-text);
  padding: 20px;
  text-align: center;
  line-height: 1.3;
}

.highlight {
  position: relative;
  cursor: pointer;
}

.highlight:hover {
  color: var(--accent-color);
}

.highlight:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.highlight:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.wp {
  color: var(--accent-color);
  cursor: pointer;
}

.wp:hover {
  text-decoration: underline;
}
