.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  transform: rotate(-8deg);
  cursor: pointer;
  position: relative;
  will-change: transform;
}

.evenWrapper {
  transform: rotate(6deg);
}
.pin {
  position: absolute;
  top: -20px;
  right: 10px;
}

.user {
  display: flex;
  gap: 15px;
  align-items: center;
}

.user > div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--light-gray);
  border: 1px solid var(--border-color);
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: calc(infinity * 1px);
}

.user > h1 {
  font-weight: 500;
  font-size: var(--normal-text);
}

.ratings {
  display: flex;
  font-size: var(--small-text);
  color: gray;
  font-weight: 500;
  gap: 10px;
}

.ratings > span {
  display: flex;
  gap: 3px;
}

.review {
  font-size: var(--small-text);
  line-height: 1.2;
}
